* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #D1C488;
}

hr {
  border: 1px solid #066158;
}

input {
  display: block;
}

.meal-form {
  margin-top: 50px;
}

.center {
  text-align: center;
}

.selected {
  padding: 5px 0;
  display: block;
  color: #823B09;
  background-color: #D1C488;
}

.jumbotron {
  background-color: #1A786F;
  border-bottom: 15px solid #066158;
  color: #823B09;
  text-shadow: 5px 3px #066158;
}

.jumbotron h1 {
  font-weight: bold;
  font-size: 6.3em;
}

.content {
  padding: 20px 15px 400px;
  background-color: #EDE1A8;
}

.col-sm-6 {
  border: 2px solid black;
}

.btn-success {
  margin: 10px 0 0 90px ;
  background-color: #1A786F;
  border: 1px solid #066158;
}

.btn-success:hover {
  background-color: #066158;
}

.green {
  color: #1A786F;
}
